<?php
/**
 * Wtngrm-gearman configuration
 *
 * PHP version 5.4
 *
 * @category General
 * @package  Desyncr\Wtngrm\Gearman
 * @author   Dario Cavuotti <dc@syncr.com.ar>
 * @license  http://gpl.gnu.org GPL-3.0+
 * @version  GIT:<>
 * @link     https://github.com/desyncr
 */

return array(
    'wtngrm' => array(
        'gearman-adapter' => array(
            'servers' => array(
                'client' => array(
                    array(
                        'host' => '127.0.0.1',
                        'port' => 4730
                    )
                ),
                'worker' => array(
                    array(
                        'host' =>  '127.0.0.1',
                        'port' => 4730
                    )
                )
            )
        )
    )
);
